@model IEnumerable<GetBlog.Models.Category>


<ul class="navigation-menu nav-left">
    <li><a href="@Url.Action("Index", "Home")" class="sub-menu-item ps-lg-0">خانه</a></li>

    @foreach (var category in Model)
    {
        if (category.ChildCategories != null && category.ChildCategories.Any())
        {
            <li class="has-submenu parent-menu-item">
                <a href="javascript:void(0)">@category.Name <i class="mdi mdi-chevron-down"></i></a>
                <ul class="submenu">
                    @*<li><a href="@Url.Action("CategoryIndex", "Articles", new { categorySlug = category.Slug })" class="sub-menu-item">همه @category.Name</a></li>*@

                    @foreach (var subCategory in category.ChildCategories.OrderByDescending(cs => cs.CategoryId))
                    {
                        <li><a href="@Url.Action("Category", "Articles", new { categorySlug = subCategory.Slug })" class="sub-menu-item">@subCategory.Name</a></li>
                    }
                </ul>
            </li>
        }
        else
        {
            <li><a href="@Url.Action("Category", "Articles", new { categorySlug = category.Slug })" class="sub-menu-item">@category.Name</a></li>
        }
    }

</ul>
